%p
  Hello #{@user.email}!
  
%p
  Someone from #{link_to 'businessmodelcanvas.herokuapp.com', 'http://businessmodelcanvas.herokuapp.com'}
  has invited you to a canvas. Please follow #{link_to 'this', board_url(@board.key)} link
