%li{:id => card.id, :style => "position: absolute; left: #{card.send(left)}px; top: #{card.send(top)}px"}
  .delete
  .clearance
  %h2.editable-title{:id => "card_title_#{card.id}"}= defined?(truncate) ? card.title.truncate(15) : card.title
  %p.editable-content{:id => "card_content_#{card.id}"}= defined?(truncate) ? card.content.truncate(20) : card.content 
