.menu-item {
  font-size: 24px;
}
/*
 * ----------------------Cards---------------------
*/
#board ul li .delete {
  float: left;
  margin-left: -20px;
}

/*
 * ----------------------Board---------------------
*/
#board {
  h2 { 
    text-align: right;
  }
  
  h2 a {
    font-size: 24px;
    padding-right: 10px;
  }
  
  .add_card {
    font-size: 20px;
  }
}

.icon {
  float: left;
}

/*
 * ------------Sections-----------------
*/
.section-title {
  font-size: 32px;
  padding-left: 15px;
}

/*
 * ------------Languages Modal-----------------
*/

.modal-header .close {
  float: left;
}

#language h3 {
  text-align: right;
  font-size: 200%;
}

/*
 * ------------Desgined by and designed for-----------------
*/
.well {
  text-align: right;
}


/*
 * ------------Login-----------------
*/
#login {
  color: #000;
  .control-group {
    margin-left: 10px;
    
    .control-label {
      width: 85px;
      float: right;
      text-align: inherit;
    }
    
    .controls:not(.remember-me) {
      float: left;
      margin-left: 0px;
    }
  }
  
  .login-form {
    float: right;
    border-left: 1px solid #EEE;
  }

}
