- if object.errors.any?
  .span6
    .alert.fade.in.alert-error
      %a.close{"data-dismiss" => "alert", :href => "#"} ×
      %h2
        = "#{pluralize(object.errors.count, 'error')} prohibited this #{object.class.to_s.humanize} from being saved:"
      %ul
        - object.errors.full_messages.each do |msg|
          %li
            = msg
  
  .clear-floating
