#language.modal.hide.fade.in
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3= t("layouts.header.select_language")
    
  .modal-body
    %table.languages
      %td
        %ul
          %li= link_to "عربى", url_for(:only_path => false, :locale => :ar)
          %li= link_to "English", url_for(:only_path => false, :locale => :en)
