#login.modal.hide.fade.in
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3= t("layouts.header.login")
    
  .modal-body
    %table.languages
      %tr
        %td
          = link_to(image_tag('google.png'), user_omniauth_authorize_path(:google_oauth2))
        %td
          = link_to(image_tag('facebook.png'), user_omniauth_authorize_path(:facebook))
